/* Jeffrey Phelps - Techtonic Academy Apprenticeship pre-work */


/* Codecademy - Learn CSS, Exercise 1, Intro to CSS */
/* N/A */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 2, Inline Styles */
/* see index.html */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 3, The <style> Tag */
/* see index.html */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 4, The .css File */
/* p {
    font-family: Arial;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 5, Linking the .css File */
/* p {
    font-family: Arial;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 6, Tag Name */
/* p {
    font-family: Arial;
}

h1 {
    color: maroon;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 7, Class Name */
/* p {
    font-family: Arial;
}

h1 {
    color: maroon;
}

.title {
    color: teal;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 8, Multiple Classes */
/* p {
    font-family: Arial;
}

h1 {
    color: maroon;
}

.title {
    color: teal;
}

.uppercase {
    text-transform: uppercase;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 9, ID Name */
/* p {
    font-family: Arial;
}

h1 {
    color: maroon;
}

.title {
    color: teal;
}

.uppercase {
    text-transform: uppercase;
}

#article-title {
    font-family: cursive;
    text-transform: capitalize;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 10, Classes and IDs */
/* p {
    font-family: Arial;
}

h1 {
    color: maroon;
}

.title {
    color: teal;
}

.uppercase {
    text-transform: uppercase;
}

#article-title {
   font-family: cursive;
text-transform: capitalize;
}

.publish-time {
    color: gray;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 11, Specificity */
/* p {
    font-family: Arial;
}

h1 {
    color: maroon;
}

.title {
    color: teal;
}

.uppercase {
    text-transform: uppercase;
}

.publish-time {
    color: gray;
}

.cursive {
    font-family: cursive;
}

.capitalize {
    text-transform: capitalize;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 12, Chaining Selectors */
/* p {
    font-family: Arial;
}

h1 {
    color: maroon;
}

.title {
    color: teal;
}

.uppercase {
    text-transform: uppercase;
}

.publish-time {
    color: gray;
}

.cursive {
    font-family: cursive;
}

.capitalize {
    text-transform: capitalize;
}

h2.destination {
    font-family: cursive;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 13, Nested Elements */
/* p {
    font-family: Arial;
}

h1 {
    color: maroon;
}

h2.destination {
    font-family: cursive;
}

.title {
    color: teal;
}

.uppercase {
    text-transform: uppercase;
}

.publish-time {
    color: gray;
}

.cursive {
    font-family: cursive;
}

.capitalize {
    text-transform: capitalize;
}

.description h5 {
    color: teal;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 14, Chaining and Specificity */
/* p {
    font-family: Arial;
}

h1 {
    color: maroon;
}

h2.destination {
    font-family: cursive;
}

.title {
    color: teal;
}

.uppercase {
    text-transform: uppercase;
}

.publish-time {
    color: gray;
}

.cursive {
    font-family: cursive;
}

.capitalize {
    text-transform: capitalize;
}

.description h5 {
    color: teal;
}

h5 {
    color: rebeccapurple;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 15, Important */
/* p {
    font-family: Arial;
}

h1 {
    color: maroon;
}

h2.destination {
    font-family: cursive;
}

.title {
    color: teal;
}

.uppercase {
    text-transform: uppercase;
}

.publish-time {
    color: gray;
}

.cursive {
    font-family: cursive;
}

.capitalize {
    text-transform: capitalize;
}

.description h5 {
    color: teal;
}

h5 {
    color: rebeccapurple !important;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 16, Multiple Selectors */
/* p {
    font-family: Arial;
}

h1 {
    color: maroon;
}

h2.destination {
    font-family: cursive;
}

.title {
    color: teal;
}

.uppercase {
    text-transform: uppercase;
}

.publish-time {
    color: gray;
}

.cursive {
    font-family: cursive;
}

.capitalize {
    text-transform: capitalize;
}

.description h5 {
    color: teal;
}

h5 {
    color: rebeccapurple !important;
}

h5, p {
    font-family: Georgia;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 17, Review */
/* N/A */



/* Learn CSS Part 2 */


/* Codecademy - Learn CSS, CSS Visual Rules, Exercise 1, Intro to Visual Rules */
/* N/A */


/* Codecademy - Learn CSS, CSS Visual Rules, Exercise 2, CSS Structure */
/* N/A */




