/* Jeffrey Phelps - Techtonic Academy Apprenticeship pre-work */


/* Codecademy - Learn CSS, Exercise 1, Intro to CSS */
/* N/A */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 2, Inline Styles */
/* see index.html */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 3, The <style> Tag */
/* see index.html */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 4, The .css File */
/* p {
    font-family: Arial;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 5, Linking the .css File */
/* p {
    font-family: Arial;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 6, Tag Name */
/* p {
    font-family: Arial;
}

h1 {
    color: maroon;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 7, Class Name */
/* p {
    font-family: Arial;
}

h1 {
    color: maroon;
}

.title {
    color: teal;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 8, Multiple Classes */
/* p {
    font-family: Arial;
}

h1 {
    color: maroon;
}

.title {
    color: teal;
}

.uppercase {
    text-transform: uppercase;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 9, ID Name */
/* p {
    font-family: Arial;
}

h1 {
    color: maroon;
}

.title {
    color: teal;
}

.uppercase {
    text-transform: uppercase;
}

#article-title {
    font-family: cursive;
    text-transform: capitalize;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 10, Classes and IDs */
/* p {
    font-family: Arial;
}

h1 {
    color: maroon;
}

.title {
    color: teal;
}

.uppercase {
    text-transform: uppercase;
}

#article-title {
   font-family: cursive;
text-transform: capitalize;
}

.publish-time {
    color: gray;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 11, Specificity */
/* p {
    font-family: Arial;
}

h1 {
    color: maroon;
}

.title {
    color: teal;
}

.uppercase {
    text-transform: uppercase;
}

.publish-time {
    color: gray;
}

.cursive {
    font-family: cursive;
}

.capitalize {
    text-transform: capitalize;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 12, Chaining Selectors */
/* p {
    font-family: Arial;
}

h1 {
    color: maroon;
}

.title {
    color: teal;
}

.uppercase {
    text-transform: uppercase;
}

.publish-time {
    color: gray;
}

.cursive {
    font-family: cursive;
}

.capitalize {
    text-transform: capitalize;
}

h2.destination {
    font-family: cursive;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 13, Nested Elements */
/* p {
    font-family: Arial;
}

h1 {
    color: maroon;
}

h2.destination {
    font-family: cursive;
}

.title {
    color: teal;
}

.uppercase {
    text-transform: uppercase;
}

.publish-time {
    color: gray;
}

.cursive {
    font-family: cursive;
}

.capitalize {
    text-transform: capitalize;
}

.description h5 {
    color: teal;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 14, Chaining and Specificity */
/* p {
    font-family: Arial;
}

h1 {
    color: maroon;
}

h2.destination {
    font-family: cursive;
}

.title {
    color: teal;
}

.uppercase {
    text-transform: uppercase;
}

.publish-time {
    color: gray;
}

.cursive {
    font-family: cursive;
}

.capitalize {
    text-transform: capitalize;
}

.description h5 {
    color: teal;
}

h5 {
    color: rebeccapurple;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 15, Important */
/* p {
    font-family: Arial;
}

h1 {
    color: maroon;
}

h2.destination {
    font-family: cursive;
}

.title {
    color: teal;
}

.uppercase {
    text-transform: uppercase;
}

.publish-time {
    color: gray;
}

.cursive {
    font-family: cursive;
}

.capitalize {
    text-transform: capitalize;
}

.description h5 {
    color: teal;
}

h5 {
    color: rebeccapurple !important;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 16, Multiple Selectors */
/* p {
    font-family: Arial;
}

h1 {
    color: maroon;
}

h2.destination {
    font-family: cursive;
}

.title {
    color: teal;
}

.uppercase {
    text-transform: uppercase;
}

.publish-time {
    color: gray;
}

.cursive {
    font-family: cursive;
}

.capitalize {
    text-transform: capitalize;
}

.description h5 {
    color: teal;
}

h5 {
    color: rebeccapurple !important;
}

h5, p {
    font-family: Georgia;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 17, Review */
/* N/A */



/* Learn CSS Part 2 */


/* Codecademy - Learn CSS, CSS Visual Rules, Exercise 1, Intro to Visual Rules */
/* N/A */


/* Codecademy - Learn CSS, CSS Visual Rules, Exercise 2, CSS Structure */
/* N/A */


/* Codecademy - Learn CSS, CSS Visual Rules, Exercise 3, Font Family */
/* h1 {
    color: #FFF;
    font-size: 2em;
    padding-top: 100px;
    width: 100%;
    font-family: Georgia;
}

h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 30px;
    text-align: left;
    width: 70%;
    font-family: Georgia;
}

p {
    color: AliceBlue;
    line-height: 1.3em;
    text-align: left;
    width: 100%;
    font-family: Helvetica;
} */


/* Codecademy - Learn CSS, CSS Visual Rules, Exercise 4, Font Size */
/* h1 {
    color: #FFF;
    font-size: 2em;
    padding-top: 100px;
    width: 100%;
    font-family: Georgia;
}

h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 30px;
    text-align: left;
    width: 70%;
    font-family: Georgia;
}

p {
    color: AliceBlue;
    line-height: 1.3em;
    text-align: left;
    width: 100%;
    font-family: Helvetica;
    font-size: 18px;
} */


/* Codecademy - Learn CSS, CSS Visual Rules, Exercise 5, Font weight */
/* h1 {
    color: #FFF;
    font-size: 2em;
    padding-top: 100px;
    width: 100%;
    font-family: Georgia;
}

h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 30px;
    text-align: left;
    width: 70%;
    font-family: Georgia;
}

p {
    color: AliceBlue;
    line-height: 1.3em;
    text-align: left;
    width: 100%;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
} */


/* Codecademy - Learn CSS, CSS Visual Rules, Exercise 6, Text Align */
/* h1 {
    color: #FFF;
    font-size: 2em;
    padding-top: 100px;
    width: 100%;
    font-family: Georgia;
    text-align: center;
}

h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 30px;
    text-align: left;
    width: 70%;
    font-family: Georgia;
}

p {
    color: AliceBlue;
    line-height: 1.3em;
    text-align: left;
    width: 100%;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
} */


/* Codecademy - Learn CSS, CSS Visual Rules, Exercise 7, Color */
/* h1 {
    color: #FFF;
    font-size: 2em;
    padding-top: 100px;
    width: 100%;
    font-family: Georgia;
    text-align: center;
}

h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 30px;
    text-align: left;
    width: 70%;
    font-family: Georgia;
}

p {
    color: AliceBlue;
    line-height: 1.3em;
    text-align: left;
    width: 100%;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
}

.caption {
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-style: italic;
    line-height: 14px;
    margin-left: 20px;
    padding: 10px;
    position: relative;
    top: 80%;
    width: 60%;
    background-color: white;
    color: black;
} */


/* Codecademy - Learn CSS, CSS Visual Rules, Exercise 8, Opacity */
/* h1 {
    color: #FFF;
    font-size: 2em;
    padding-top: 100px;
    width: 100%;
    font-family: Georgia;
    text-align: center;
}

h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 30px;
    text-align: left;
    width: 70%;
    font-family: Georgia;
}

p {
    color: AliceBlue;
    line-height: 1.3em;
    text-align: left;
    width: 100%;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
}

.caption {
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-style: italic;
    line-height: 14px;
    margin-left: 20px;
    padding: 10px;
    position: relative;
    top: 80%;
    width: 60%;
    background-color: white;
    color: black;
    opacity: .75;
} */


/* Codecademy - Learn CSS, CSS Visual Rules, Exercise 9, Background Image */
/* h1 {
    color: #FFF;
    font-size: 2em;
    padding-top: 100px;
    width: 100%;
    font-family: Georgia;
    text-align: center;
}

h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 30px;
    text-align: left;
    width: 70%;
    font-family: Georgia;
}

p {
    color: AliceBlue;
    line-height: 1.3em;
    text-align: left;
    width: 100%;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
}

.caption {
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-style: italic;
    line-height: 14px;
    margin-left: 20px;
    padding: 10px;
    position: relative;
    top: 80%;
    width: 60%;
    background-color: white;
    color: black;
    opacity: .75;
}

.image {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/soccer.jpeg");
    background-size: cover;
    background-position: center;
    height: 300px;
} */


/* Codecademy - Learn CSS, CSS Visual Rules, Exercise 10, Review */
/* N/A */



/* Learn CSS Part 3 */


/* Codecademy - Learn CSS, The Box Model, Exercise 1, Intro to the Box Model */
/* N/A */


/* Codecademy - Learn CSS, The Box Model, Exercise 2, The Box Model */
/* N/A */


/* Codecademy - Learn CSS, The Box Model, Exercise 3, Height and Width */
/* #banner {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
    background-size: cover;
    background-position: bottom center;
    height: 700px;
    width: 100%;
}

#banner .content h1 {
    position: relative;
    top: 50px;
    margin: 0 auto;
    width: 400px;
}

.pull-quote {
    width: 350px;
} */


/* Codecademy - Learn CSS, The Box Model, Exercise 4, Borders */
/* #banner .content h1 {
    position: relative;
    top: 50px;
    width: 400px;
    margin: 0 auto;
    border: 3px white solid;
}

h2 {
    color: red;
    font-size: 14px;
    line-height: 48px;
    text-align: center;
    border: 1px red dotted;
} */


/* Codecademy - Learn CSS, The Box Model, Exercise 5, Border Radius */
/* #banner .content h1 {
    border: solid 3px white;
    position: relative;
    top: 50px;
    width: 400px;
    margin: 0 auto;
    border-radius: 15px;
} */


/* Codecademy - Learn CSS, The Box Model, Exercise 6, Padding */
/* .navigation li {
    font-weight: 100;
    letter-spacing: 2px;
    padding: 20px;
}

.share a {
    background: red;
    border: 1px solid red;
    border-radius: 3px;
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 14px;
}

h2 {
    border: 1px dotted red;
    color: red;
    font-size: 14px;
    line-height: 48px;
    text-align: center;
    padding: 20px 30px;
} */


/* Codecademy - Learn CSS, The Box Model, Exercise 7, Padding II */
h2 {
    border: 1px dotted red;
    color: red;
    font-size: 14px;
    line-height: 48px;
    text-align: center;
    padding: 20px 30px;
}

p {
    color: grey;
    font-size: 16px;
    line-height: 48px;
    padding: 10px 20px;
}




