/* Jeffrey Phelps - Techtonic Academy Apprenticeship pre-work */


/* Codecademy - Learn CSS, Exercise 1, Intro to CSS */
/* N/A */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 2, Inline Styles */
/* see index.html */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 3, The <style> Tag */
/* see index.html */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 4, The .css File */
/* p {
    font-family: Arial;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 5, Linking the .css File */
/* p {
    font-family: Arial;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 6, Tag Name */
/* p {
    font-family: Arial;
}

h1 {
color: maroon;
} */


/* Codecademy - Learn CSS, CSS Setup and Selectors, Exercise 7, Class Name */
p {
    font-family: Arial;
}

h1 {
color: maroon;
}

.title {
color: teal;
}



